.masonry {
  column-count: 2;
  column-gap: 1rem;
}

.masonry img {
  display: block;
  height: 100%;
  width: auto;
  margin-bottom: 1rem;
}

.masonry p {
  break-inside: avoid;
  margin: 0 0 1rem;
}